.footer {
  padding: 100px 15px;
  background: #2e2f42;
}

.footer-wrap {
  gap: 16px;
  width: 264px;
  max-width: 264px;
}
.footer-logo {
  display: block;
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33333;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
  margin-bottom: 16px;
}
.footer-logo .footer-accent {
  color: #4d5ae5;
}
.footer-desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
